html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content-fluid {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    height: 100%;
    position: sticky;
    top: 0;
}

main {
    background-color: #cecbcb;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .btn {
    margin-left: 10px;
}

.navbar-right .btn-group {
    display: flex;
    align-items: center;
}